{% extends 'basic.html' %}
{% load static %}

{% block title %}Services {% endblock title %}

{% block body %}


<!doctype html>
<html lang="en">
 
        <!-- End Page Title Area -->
        <!-- Start Services Area -->
        <section class="services-section pt-100 pb-100">
            <div class="container">
                <div class="section-title">
                    <h2>Services</h2>
                    <div class="bar"></div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-services">
                            <div class="icon">
                              <br><img src="{% static 'assets/img/ios.png' %}" alt=""> 

                            </div>
                            <h3>IOS Development</h3>
                            <p>Are you looking for an iOS mobile app developer with experience and risk-free? Ordering a mobile application from Exytex is a guarantee of the result.</p><br>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-services">
                            <div class="icon">
                              <br><img src="{% static 'assets/img/android.png' %}" alt=""> 
                            </div>
                            <h3>Android Development</h3>
                            <p>We develop Apps natively, which offers us to get the most out of devices. This makes our Apps always stable and fast.</p><br>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-services">
                            <div class="icon">
                              <br><img src="{% static 'assets/img/web2.png' %}" alt=""> 
                            </div>
                            <h3>Web Development</h3>
                            <p>We make fully customized websites optimized for SEO positioning. All our developments are accompanied by UX / UI designs.</p><br>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-services">
                            <div class="icon">
                              <br><img src="{% static 'assets/img/web1.png' %}" alt=""> 
                            </div>
                            <h3>Web Application</h3>
                            <p>Development of custom web applications. We use a development framework and agile methodologies focused on your project being able to evolve according to your needs, budget and time.</p><br>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <div class="single-services">
                            <div class="icon">
                              <br><img src="{% static 'assets/img/seo.png' %}" alt=""> 
                            </div>
                            <h3>Search Engine Optimization (SEO)</h3>
                            <p>Search engines are powerful marketing tools that can drive massive traffic to your website and generate thousands of leads and conversions.</p><br>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-services">
                            <div class="icon">
                              <br><img src="{% static 'assets/img/support.png' %}" alt=""> 
                            </div>
                            <h3>Support and Maintenance</h3>
                            <p>We help companies, businesses with the monthly fee of their website, web maintenance focused according to their needs, updates and design.</p><br>
                        </div>
                    </div>
                </div>
            </div>

          

      
        <!-- Jquery Slim JS -->
        <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery.min.js"></script>
        <!-- Popper JS -->
        <!--<script src="../../assets/js/popper.min.js"></script>-->
        <!-- Bootstrap JS -->
        <!--<script src="../../assets/js/bootstrap.min.js"></script>-->
        <!-- Meanmenu JS -->
        <!--<script src="../../assets/js/jquery.meanmenu.js"></script>-->
        <!-- Owl Carousel JS -->
		<!--<script src="../../js/owl.carousel.js"></script>-->
        <!-- Magnific JS -->
		<!--<script src="../../assets/js/jquery.magnific-popup.min.js"></script>-->
		<!-- Appear JS --> 
        <!--<script src="../../assets/js/jquery.appear.min.js"></script>-->
		<!-- Odometer JS --> 
		<!--<script src="../../assets/js/odometer.min.js"></script>-->
		<!-- Form Ajaxchimp JS -->
		<!--<script src="../../assets/js/jquery.ajaxchimp.min.js"></script>-->
		<!-- Form Validator JS -->
		<!--<script src="../../assets/js/form-validator.min.js"></script>-->
		<!-- Contact JS -->
        <!--<script src="../../assets/js/contact-form-script.js"></script>-->
        <!-- Wow JS -->
        <!--<script src="../../assets/js/wow.min.js"></script>-->
        <!-- Custom JS -->
        <script src="../../assets/js/main.js"></script>
    </body>
</html>

    </div>{% endblock body %}
